.afterCaroussel {
    display: flex;
    justify-content: space-between;
}

.afterCaroussel, .tag {
    margin: 0 auto;
    width: 1240px;
}

.hostNamePicture {
    display: flex;
}

.CarousselImg {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    z-index: 0;
}

.firstButton, .secondButton{
    position: absolute;
    z-index: 1;
    top: 35%;
    background: none;
    border: none;
}

 .secondButton {
    right: 0;
 }

 .count {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 25px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
 }

 .titreLogement {
    color: var(--primary);
    font-weight: 500;
    font-size: 36px;
 }

 .lieuLogement {
    font-weight: 500;
    font-size: 18px;
    color: var(--primary);
 }

 .tag {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
 }

 .dropdownHousing {
    display: flex;
    width: 1240px;
    margin: 0 auto;
    justify-content: space-between;
 }

 .dropdownHousing .dropdown,   .dropdownHousing .dropdown button{
    width: 582px;
 }


.dropdownHousing .dropdownText {
    height: auto;
    display: flex;
    flex-direction: column;
} 

.hostNamePicture {
    display: flex;
}

.hostName {
    font-weight: 500;
    font-size: 18px;
    color: var(--primary);
    width: 100px;
}

.hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

