.cardHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: #F6F6F6;
    justify-content: space-between;
    border-radius: 25px;
    padding: 50px;
}

.BannerTxt {
    position: absolute;
    top: 50%; 
    left: 50%;
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: 500;
    width: 70%;
    text-align: center;
    transform: translate(-50%, -50%); 
}

.containerHomeBanner {
    position: relative;
}


@media screen and (max-width: 1024px) {
    .cardHolder {
        grid-template-columns: repeat(2, 1fr);
    }

    .BannerTxt {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) { 

    .cardHolder {
        grid-template-columns: 1fr;
        padding: 20px 0;
        background: none;
        gap: 20px;
    }

    .break {
        display: block;
    }

    .BannerTxt {
        text-align: initial;
    }

   .containerHomeBanner .BannerPictureTxt {
        height: 111px;
   }
}

