.card {
    transition: all ease 0.5s;
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: var(--primary);
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;

}

.card:hover {
    cursor: pointer;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.cardImg {
    object-fit: cover; 
    width: 340px;
    height: 340px;
}

.cardTxt {
    position : absolute;
    bottom: 0%;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}