.card {
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: var(--primary);
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;
}

.cardImg {
    object-fit: cover; 
    width: 340px;
    height: 340px;
}

.cardTxt {
    position : absolute;
    bottom: 1%;
    color: white;
    font-weight: 500;
    font-size: 18px;
    
}