.logoLink {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1240px;
}

nav {
    color : var(--primary);
    text-decoration: none;
    margin: auto 0;
    font-size: 24px;
}

nav a:visited {
    color: var(--primary);
}

nav a:hover{
    text-decoration: underline;
}

.linkAccueil {
    padding-right: 60px;
}

a {
    text-decoration: none;
}