.logoLink {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    width: 100%;
}

nav {
    color : var(--primary);
    text-decoration: none;
    margin: auto 0;
    font-size: 24px;
    font-weight: 500px;
}

nav a:visited {
    color: var(--primary);
}

nav a:hover{
    text-decoration: underline;
}

.linkAccueil {
    padding-right: 60px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    nav {
        font-size: 3vw;
    }

    .logo {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {

}