.logoLink {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logoLink img {
    height: 68px;
    width: auto;
}

nav {
    color : var(--primary);
    text-decoration: none;
    margin: auto 0;
    font-size: 24px;
    font-weight: 500;
}





nav a:visited {
    color: var(--primary);
}

nav a:hover{
    text-decoration: underline;
}

.linkAccueil {
    padding-right: 60px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
   

    .logo {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {

    .logoLink img {
        height: 47px;
        width: auto;
    }

    nav {
        font-size: 12px;
        text-transform: uppercase;
    }

    .linkAccueil {
        padding-right: 30px;
    }
    
    .linkAbout {
        padding-right: 20px;
    }
}