footer {
    background-color: black;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-block: 64px 30px;
}

.logoFooter {
    max-width: 122px;
    height: auto;
}

.txtFooter {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}


@media screen and (max-width: 768px) { 
    .txtFooter {
        font-size: 12px;
    }

    .logoFooter img {
        min-width:  122px;
        min-height: 40px;
    }
   
}

@media screen and (max-width: 1025px) { 
    .dropdownHousing .dropdown, .dropdownHousing .dropdown button {
        max-width: 100%!important;
    }
}