.titleOups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1.title {
    font-weight: 700;
    font-size: 288px;
    color: var(--primary);
    margin-bottom: 0px;
}

p.oups {
    padding-bottom: 180px;
    color: var(--primary);
    font-size: 36px;
    font-weight: 500;
}

.link {
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}

.errorContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 768px) { 
    h1.title {
        font-size: 96px;
    }
    p.oups {
        font-size: 18px;
    }

}